body {
    margin: 0;
    padding: 0;
    position: absolute;
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: cornsilk;
    min-width: 100%;
}

header {
    background-color: black;
    color: cornsilk;
    position: -webkit-sticky; /* För safari */
    position: sticky;
    top: 0;
    min-width: 100%;
}

.rowBox {
    display: flex;
    justify-content:space-evenly;
}

.rowBox > div {
    padding: 0.5em;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.textBox {
    margin: 2em auto;    
    max-width: 5em;
    min-width: 25em;
    max-height: 50em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.877);
    box-shadow: 5px 10px 8px #272727b4;
    display: block;
}

.inputNr {
    width: 30%;
    float: right;
    background-color: black;
    color: cornsilk;
}

.button {
    display: flex;
    flex-direction: row;
    float: right;
    background-color: black;
    color: cornsilk;
    box-shadow: 5px 10px 8px #272727b4;
}

.button:active {
    background-color: darkgray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .button {
        float: none;
    }
}